name: Create Work Note
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:

concurrency:
  group: '${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  deploy-prod:
    name: Fake prod deployment with review
    if: github.ref == 'refs/heads/main'
    environment:
      name: prod
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        run: echo deploy!

      - name: Create deployment notification
        uses: agrc/service-now-worknote-action@main
        with:
          repo-token: ${{ github.token }}
          username: ${{ secrets.SN_USERNAME }}
          password: ${{ secrets.SN_PASSWORD }}
          instance-name: ${{ secrets.SN_INSTANCE }}
          table-name: ${{ secrets.SN_TABLE }}
          system-id: ${{ secrets.SN_SYS_ID }}

  deploy-dev:
    name: Fake dev deployment with review
    if: github.ref == 'refs/heads/dev'
    environment:
      name: prod
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        run: echo deploy!

      - name: Create deployment notification
        uses: agrc/service-now-worknote-action@dev
        with:
          repo-token: ${{ github.token }}
          username: ${{ secrets.SN_USERNAME }}
          password: ${{ secrets.SN_PASSWORD }}
          instance-name: ${{ secrets.SN_INSTANCE }}
          table-name: ${{ secrets.SN_TABLE }}
          system-id: ${{ secrets.SN_SYS_ID }}
